* {
    box-sizing: border-box;
  }
.container {
    display: flex; /* Use flexbox for layout */
  }
  
  /* Apply styles to each table column */
  .table-responsive {
    flex: 1; /* Distribute available space equally */
    box-sizing: border-box; /* Include padding and border in the width */
    padding: 15px; /* Add some spacing between tables */
    border: 1px solid #ccc; /* Add a border for better visualization */
  }

  .field_column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  

  .checkboxes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Add some spacing between checkboxes */
    max-width: 600px; /* Adjust the max width as needed */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  .checkboxes-container label {
    display: flex; /* Align label and checkbox horizontally */
    align-items: center; /* Center items vertically */
    flex: 0 0 auto; /* Make sure the checkboxes don't grow beyond their content */
  }

  .checkboxes-container label input {
    margin-right: 5px; /* Add space between checkbox and label */
  }


 
  
  
  
  
  
